body{
    text-align: center;
    font-family: "arial";
    color: #6a17d6;
    font-size: 16px;
}
#cabecera{
    font-weight: bold;
    background-color: cadetblue;
    color: white;
    margin: 0;
    padding:2em;
}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid;
    margin: 0 auto;
}

#container h1{
    font-size: 50px;
}